input,
select {
  border-radius: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 100%;
  z-index: 1;
  margin: 10px auto;
}

button {
  border-width: 4px;
  border-color: gray;
  background-color: steelblue;
  border-radius: 10px;
  width: 25%;
  height: 100%;
  font-family: "Lilita One", cursive;
  border-style: outset;
  color: white;
}

span {
  font-family: "Lilita One", cursive;
}

button:hover {
  background-color: gray;
}

#registerForm {
  display: grid;
  border-style: solid;
  border-radius: 10px;
  margin: 0 auto;
  width: 40%;
  height: 50%;
  margin-top: 12%;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  background-color: whitesmoke;
  animation: fadein 0.5s ease-in;
  z-index: 1;
  box-shadow: 5px 5px 5px 5px gray;
}

#btnBack {
  position: relative;
}

#btnRegister {
  position: relative;
  float: right;
}

.successfullRegister {
  margin: 0 auto;
  width: 40%;
  height: 50%;
  margin-top: 35%;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  word-wrap: break-word;
  text-align: center;
  animation: fadein 0.5s ease-in;
}

.failedRegister {
  margin: 0 auto;
  width: 40%;
  height: 50%;
  margin-top: 35%;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  word-wrap: break-word;
  text-align: center;
  animation: fadein 0.5s ease-in;
}

#popup {
  animation: fadein 0.5s ease-out;
  margin: 0 auto;
  margin-top: 5%;
  width: 35%;
  border-radius: 10px;
}
