<div class="backgroundImg">
  <div class="bodyOverlay">
  </div>
</div>
<div id="loginForm">
  <form class="form-group">
    <input type="text" class="form-control" placeholder="E-Mail">
    <br>
    <input type="password" class="form-control" placeholder="Password">
    <br>
    <button type="submit" class="btn btn-secondary btn-sm">Log In</button>
    <br>
    <small>Don't have an account?
      <a routerLink="/register" routerLinkActive="active">Register now</a>
    </small>
  </form>
</div>

<!-- <ng-template [ngIf]="registered">
  <div class="infoPopup">
    <p>fwefwafawefawefawefawefaweffwefwafawefawefawefawefaweffwefwafawefawefawefawefaweffwefwafawefawefawefawefawef</p>
  </div>
</ng-template> -->