<div class="background">

  <nav class="navbar">
    <a class="navbar-brand"></a>
    <form class="form-inline">
      <button id="myAccountBtn" class="btn btn-outline-warning "><span class="oi oi-grid-four-up"></span></button>
      <button id="logOutBtn" class="btn btn-outline-warning" type="text"><span class="oi oi-account-logout"></span> Logout</button> 
    </form>
  </nav>
  <span class="clearfix"></span>

    <div class="searchBar">
      <input class="form-control mr-sm-2 centered" type="search" placeholder="Search for a book..." aria-label="Search">
      <button class="search-btn centered">Search</button>
    </div>
    <span class="clearfix"></span>

</div>