<div class="backgroundImg">
  <div class="bodyOverlay">
  </div>
</div>
<div id="loginForm">
  <form class="form-group" [formGroup]="loginForm">
    <input type="text" class="form-control" placeholder="E-Mail" formControlName="username">
    <br>
    <input type="password" class="form-control" placeholder="Password" formControlName="password">
    <br>
    <button type="submit" class="btn btn-secondary btn-sm"
      (click)="login(loginForm.value.username, loginForm.value.password)" [disabled]="loginForm.invalid">Log In</button>
    <br>
    <small>Don't have an account?
      <a routerLink="/register" routerLinkActive="active">Register now</a>
    </small>
  </form>
</div>

<ng-template [ngIf]="userDoesNotExist">
  <div class="container">
    <div id="popup" class="alert alert-warning">User does not exists, please create an account</div>
  </div>
</ng-template>

<ng-template [ngIf]="wrongUsernameOrPassword">
    <div class="container">
      <div id="popup" class="alert alert-danger">Username or password are incorrect, please try again</div>
    </div>
  </ng-template>