<div class="backgroundImg">
  <div class="bodyOverlay">
  </div>
</div>


<div class="container">
  <div id="registerForm">
    <form [formGroup]="registerFormChild">
      <div class="form-group">
        <span>Please complete the form in order to register:</span>
        <input type="text" class="form-control" placeholder="Enter email" formControlName="email">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" formControlName="password">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Address" formControlName="address">
      </div>
      <div class="form-group">
        <select class="form-control" formControlName="state">
          <option selected>Choose State</option>
          <option *ngFor="let state of stateList">{{state.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Zip Code" formControlName="zipcode">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Phone number" formControlName="phoneNumber">
      </div>
      <a routerLink="/login"><button class="btn" id="btnLogin">Back</button></a>
      <a routerLink="/"><button class="btn" id="btnRegister"
          (click)="addUser(registerFormChild.value.email, registerFormChild.value.password, 
          registerFormChild.value.address, registerFormChild.value.state, registerFormChild.value.zipcode, registerFormChild.value.phoneNumber)">Register</button></a>
    </form>
  </div>
</div>