<div class="backgroundImg">
  <div class="bodyOverlay">
  </div>
</div>

<div id="registerForm">
  <div class="container">
    <small>E-mail:</small>
    <input type="text" class="form-control">
    <small>Password:</small>
    <input type="password" class="form-control">
    <small>Address</small>
    <input type="text" class="form-control">
    <small>Phone number</small>
    <input type="text" class="form-control">
    <div class="form-group">
      <button type="button" class="btn btn-secondary btn-sm" name="back">Back</button>
      <button type="submit" class="btn btn-secondary btn-sm" name="submit">Submit</button>
    </div>

    <!-- <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Small</span>
      </div>
      <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
    </div>
  </div> -->
</div>